<div>
  
  <!-- contact section -->
  <section class="contact_section  ">
   <div class="container">
     <div class="row">
       <div class="col-md-7 col-lg-6 ">
         <div class="form_container">
           <div class="heading_container ">
             <h2>
               CONTATE-NOS
             </h2>
           </div>
           <form action="">
             <div>
               <input type="text" placeholder="Seu nome" />
             </div>
             <div>
               <input type="text" placeholder="Número de telefone" />
             </div>
             <div>
               <input type="email" placeholder="Email" />
             </div>
             <div>
               <input type="text" class="message-box" placeholder="Messagem" />
             </div>
             <div class="btn_box">
               <button>
                 ENVIAR
               </button>
             </div>
           </form>
         </div>
       </div>
       <div class="col-md-5 col-lg-6">
         <div class="subscribe-box">
        
            <div class="right-info">
              <ul> 
                <li class="layout_padding3">
                  <h6>Número de telefone</h6>
                  <span>+(244) 931 088 915</span>
                  <span>+(244) 931 088 915</span>
                </li>
                <li class="layout_padding3">
                  <h6>Endereço de email</h6>
                  <span>geral@nibk.ao</span> 
                </li>
                <li class="layout_padding3">
                  <h6>Endereço da Ruas</h6>
                  <span>Talatona, Condomínio Palanca Negra, Vivenda n°. 31. <br>
                    Luanda – Angola. 
                    </span>
                </li>
                <li>
                  <h6>Horário</h6>
                  <span>08H00 às 15H00 <br>
                    Segunda à sexta
                    </span>
                </li>
              </ul>
            </div>
       

         </div>
       </div>
     </div>
   </div>
  </section>
  <!-- end contact section -->
  
  
  
  </div>



 