<div>
  <!-- slider section -->
  <section class="slider_section position-relative">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img_container">
            <div class="img-box">
              <img src="assets/images/slider-bg.jpg" class="" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img_container">
            <div class="img-box">
              <img src="assets/images/slider-bg.jpg" class="" alt="...">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img_container">
            <div class="img-box">
              <img src="assets/images/slider-bg.jpg" class="" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn_box">
        <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="detail-box">
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="inner_detail-box">
          <h1>
            Estúdio de Design de <br>
            Interiores
          </h1>
          <p>
            Desempenhamos apaixonadamente a profissão de vendas e prestação de serviços, tais como:
            compra, venda, arrendamento, avaliação e gestão de imóveis
          </p>
          <div>
            <a href="#/contato" class="slider-link">
              CONTATE-NOS
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- about section -->

  <section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sobre nós
              </h2>
            </div>
            <p>
              Somos uma empresa de direito Angolano, atuamos no ramo Imobiliário há mais de 5 anos desde
              a nossa existência.
            </p>

            <p>
              A nossa experiência profissional é seguramente uma mais-valia, não só para a nossa equipa de
              trabalho, mas também para os nossos potenciais clientes e colaboradores.
            </p>

            <a href="#/sobre">
              consulte Mais informação
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- gallery section -->

  <div class="gallery_section layout_padding2">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2>
          GALERIA
        </h2>
      </div>
      <div class="row">
        <div class=" col-sm-8 col-md-6 px-0">
          <div class="img-box">
            <img src="assets/images/g1.jpg" alt="">
            <a href="assets/images/g1.jpg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 px-0">
          <div class="img-box">
            <img src="assets/images/vendas/A02.jpeg" alt="">
            <a href="assets/images/vendas/A02.jpeg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 px-0">
          <div class="img-box">
            <img src="assets/images/vendas/A08.jpeg" alt="">
            <a href="assets/images/vendas/A08.jpeg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 px-0">
          <div class="img-box">
            <img src="assets/images/vendas/A010.jpeg" alt="">
            <a href="assets/images/vendas/A010.jpeg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 px-0">
          <div class="img-box">
            <img src="assets/images/vendas/A05.jpeg" alt="">
            <a href="assets/images/vendas/A05.jpeg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-8 col-md-6 px-0">
          <div class="img-box">
            <img src="assets/images/g6.jpg" alt="">
            <a href="assets/images/g6.jpg" data-toggle="lightbox" data-gallery="gallery">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- end gallery section -->
 
  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Serviços
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/s1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Compra, Venda e Arrendamento Residencial
              </h5>
              <p>
                Somos hoje uma empresa especializada na intermediação de compra e venda de imóveis residenciais e
                comerciais
              </p>
          
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/s2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Avaliação Ecomercial
              </h5>
              <p>
                Somos especializados em avaliações de ativos, passivos e conjuntos de ativos e passivos para diversos
                negócios. Realizando rigorosas análises nas áreas de Consultoria Imobiliárias e Gestão do Ativo
                Imobilizado,
              </p>
          
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/s3.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Gestão de Imóveis
              </h5>
              <p>
                Fazemos gestão de imóveis para a sua recidecia,
                temos profissionais experiência na relação com experiência no mercado de trabalho.
              </p>
          
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end service section -->



  <!-- novidade section -->

  <section class="blog_section ">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Novidades que vai querer ver
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/vendas/A05.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                VENDER VIVENDA V5+1
              </h5>
              <p>
                Vivenda V5+1 mobilada disponível à venda no condomínio Sodimo - praia do bispo.
              </p>
              <p>
                Preço : 6.000.000,00 USD
              </p>
              <a @click="AA()">
                consulte Mais informação
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/vendas/B06.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                VENDER: VIVENDA V4+1
              </h5>
              <p>
                Vivenda V4+1 disponível para venda no condomínio Malunga, localizado no Talatona.
              </p>
              <p>

                Preço : 2.800.000,00 USD
              </p>
              <a @click="BB()">
                consulte Mais informação
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end novidade section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Testemunho
        </h2>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="assets/images/user.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Joaquim Silva
                      </h6>
                    </div>
                    <p>
                      sem duvida este é um dos melhor site de imonbiliaria . empresa seria e com um atendimento
                      excelente
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-11 col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="assets/images/user.png" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="name">
                      <h6>
                        Helena 
                      </h6>
                    </div>
                    <p>
                      ola obrigado pela vossa paciencia e recepçao . tive uma optima experiencia 
                    </p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section  ">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-lg-6 ">
          <div class="form_container">
            <div class="heading_container ">
              <h2>
                CONTATE-NOS
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Seu nome" />
              </div>
              <div>
                <input type="text" placeholder="Número de telefone" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Messagem" />
              </div>
              <div class="btn_box">
                <button>
                  ENVIAR
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="subscribe-box">
         
             <div class="right-info">
               <ul> 
                 <li class="layout_padding3">
                   <h6>Número de telefone</h6>
                   <span>+(244) 931 088 915</span>
                   <span>+(244) 931 088 915</span>
                 </li>
                 <li class="layout_padding3">
                   <h6>Endereço de email</h6>
                   <span>geral@nibk.ao</span> 
                 </li>
                 <li class="layout_padding3">
                   <h6>Endereço da Ruas</h6>
                   <span>Talatona, Condomínio Palanca Negra, Vivenda n°. 31. <br>
                     Luanda – Angola. 
                     </span>
                 </li>
                 <li>
                   <h6>Horário</h6>
                   <span>08H00 às 15H00 <br>
                     Segunda à sexta
                     </span>
                 </li>
               </ul>
             </div>
        
 
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->



</div>