<div>
  <!-- MAIN -->

  <section class="  layout_padding">

    <section class="about_section " v-if="jms === 'A' || jms === 'todos'">

      <div class="row">
        <div class="col-md-6">
          <!-- slider section -->
          <section class="slider_section position-relative">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A01.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A02.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A03.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A04.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A05.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A06.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A07.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A08.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A09.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/A010.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

          </section>
          <!-- end slider section -->
        </div>

        <div class="col-md-6">

          <div class="container">
            <div class="row  ">
              <div class="col-md-6 col-lg-12 layout_padding3">
                <h2>
                  VENDER VIVENDA V5+1
                </h2>

                <p class="mb-0">
                  Vivenda V5+1 mobilada disponível à venda no condomínio Sodimo - praia do bispo.
                </p>

                <div class="layout_padding3">
                  <h5>
                    Preço:
                  </h5>
                  <h2>
                    6.000.000,00 USD
                  </h2>
                </div>


              </div>

              <div class="col-md-6 col-lg-12 layout_padding3">
                <h5 class="mb-0">
                  A residência conta com as seguintes características habitacionais:
                </h5>

                <div class="service_section">
                  <div class="row">
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          2 Salas amplas;
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          1 Cozinha equipada
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          5 Quartos (suítes)
                        </h6>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          9 Wc's de apoio;
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Casa de máquinas
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Varanda
                        </h6>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Quintal
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Elevador
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Sala de jogos
                        </h6>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Escritório equipado
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Piscina privativa
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Lavandaria
                        </h6>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-12 layout_padding3">
                <h4>
                  OBS:
                </h4>
                <p>
                  (Pagamento em Kwanza/câmbio do dia)
                  <br>
                  Para mais informações sobre o imóvel, não hesites em contactar.
                </p>
              </div>


            </div>
          </div>


        </div>
      </div>

    </section>



    <section class="about_section " v-if="jms === 'B' || jms === 'todos'">

      <div class="row">
        <div class="col-md-6">
          <!-- slider section -->
          <section class="slider_section position-relative">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B01.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B02.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B03.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B04.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B05.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B06.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B07.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B08.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B09.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img_container">
                    <div class="img-box">
                      <img src="assets/images/vendas/B010.jpeg" class="" alt="...">
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_btn_box">
                <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>

          </section>
          <!-- end slider section -->
        </div>

        <div class="col-md-6">

          <div class="container">
            <div class="row  ">
              <div class="col-md-6 col-lg-12 layout_padding3">
                <h2>
                  VENDER: VIVENDA V4+1
                </h2>

                <p class="mb-0">
                  Vivenda V4+1 disponível para venda no condomínio Malunga, localizado no Talatona.
                </p>

                <div class="layout_padding3">
                  <h5>
                    Preço:
                  </h5>
                  <h2>
                    2.800.000,00 USD
                  </h2>
                </div>


              </div>

              <div class="col-md-6 col-lg-12 layout_padding3">
                <h5 class="mb-0">
                  A residência conta com as seguintes características habitacionais:
                </h5>

                <div class="service_section">
                  <div class="row">
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                           Sala 
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          4 Quartos suítes
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Cozinha equipada
                        </h6>
                      </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          WC de apoio
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Estacionamento privativo
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mx-auto">
                      <div class="detail-box-box">
                        <h6>
                          Reservatório de água
                        </h6>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-12 layout_padding3">
                <h4>
                  OBS:
                </h4>
                <p>
                  (Pagamento em Kwanza/câmbio do dia)
                  <br>
                  Para mais informações sobre o imóvel, não hesites em contactar.
                </p>
              </div>


            </div>
          </div>


        </div>
      </div>

    </section>
 

  </section>

  <!-- end blog section -->

</div>