<div>
  <!-- MAIN -->
   <!-- blog section -->

   <section class="blog_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        <h2>
          Latest Blog
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/vendas/A05.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                VENDER VIVENDA V5+1
              </h5>
              <p>
                Vivenda V5+1 mobilada disponível à venda no condomínio Sodimo - praia do bispo.
              </p>
              <p>
                Preço : 6.000.000,00 USD
              </p>
              <a @click="AA()">
                consulte Mais informação
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="box">
            <div class="img-box">
              <img src="assets/images/vendas/B06.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                VENDER: VIVENDA V4+1
              </h5>
              <p>
                Vivenda V4+1 disponível para venda no condomínio Malunga, localizado no Talatona.
              </p>
              <p>

                Preço : 2.800.000,00 USD
              </p>
              <a @click="BB()">
                consulte Mais informação
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->
 
</div>