<div>
 
  <!-- header section strats -->
  <header class="header_section  innerpage_header">
   <div class="container-fluid">
     <nav class="navbar navbar-expand-lg custom_nav-container">
       <a class=" " href="#/">
       
          <div >
            <img class="img-min" src="assets/images/logo.png" alt="">
          </div>
         
       </a>
       <div class="" id="">

         <div class="custom_menu-btn">
           <button onclick="openNav()">
             <span class="s-1"> </span>
             <span class="s-2"> </span>
             <span class="s-3"> </span>
           </button>
           <div id="myNav" class="overlay">
             <div class="overlay-content">
               <a onclick="openNav()" href="#/">Home</a>
               <a onclick="openNav()" href="#/sobre">Sobre Nos</a>
                 <!-- <a onclick="openNav()" href="#/galeria">Galeria</a> -->
           
               <a onclick="openNav()" href="#/servicos/vendas">Serviços/Vendas</a> 
               <a onclick="openNav()" href="#/contato">Contacto</a>
             </div>
           </div>
         </div>
       </div>
     </nav>
   </div>
 </header>
 <!-- end header section -->
  
</div>