<div>
     <!--
      info section -->
  <section class="info_section ">
   <div class="container">
     <div class="row info_main_row">
       <div class="col-md-6 col-lg-5">
         <div class="info_insta">
           <h4>
             <a href="#/" class="navbar-brand m-0 p-0">
               <span>
                <div >
                  <img class="img-min" src="assets/images/logo.png" alt="">
                </div>
               </span>
             </a>
           </h4>
           <p class="mb-0">
            Somos uma empresa de direito Angolano, atuamos no ramo Imobiliário há mais de 5 anos desde
            a nossa existência.  
          </p>
           <p class="mb-0">
            Desempenhamos apaixonadamente a profissão de vendas e prestação de serviços, tais como:
            compra, venda, arrendamento, avaliação e gestão de imóveis            
            </p>
         </div>
       </div>
      
       <div class="col-md-6 col-lg-4">
         <h4>
          Contate-nos
         </h4>
         <div class="info_contact">
           <a href="">
             <i class="fa fa-map-marker" aria-hidden="true"></i>
             <span>
              Talatona, Condomínio Palanca Negra, Vivenda n°. 31. 
             </span>
           </a>
           <a href="">
             <i class="fa fa-phone" aria-hidden="true"></i>
             <span>
               Call  +(244) 931 088 915 / 994 814 701
             </span>
           </a>
           <a href="">
             <i class="fa fa-envelope"></i>
             <span>
               demo@gmail.com
             </span>
           </a>
         </div>
       </div>
       <div class="col-md-6 col-lg-3">
         <h4>
           Follow Us
         </h4>
         <div class="social_box">
           <a href="">
             <i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-linkedin" aria-hidden="true"></i>
           </a>
           <a href="">
             <i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
         </div>
       </div>
     </div>
   </div>
 </section>

 <!-- end info_section -->
   <!-- footer section -->
   <footer class="footer_section ">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> NIBK - Todos os direitos reservados
          <br>
          Desenvolvido por <a href="https://html.design/"> JLSystem (Joaquim Silva)</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->
</div>