<div>



  <!-- about section -->

  <section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="assets/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Há mais de 5 anos.
              </h2>
            </div>
            <p>
              Somos uma empresa de direito Angolano, atuamos no ramo Imobiliário há mais de 5 anos desde
              a nossa existência.
              <br>
              Desempenhamos apaixonadamente a profissão de vendas e prestação de serviços, tais como:
              compra, venda, arrendamento, avaliação e gestão de imóveis
              <br>
              Temos formação e experiência na relação com o cliente adquirida em nossos anos de experiência
              no mercado de trabalho.
              <br>
              A nossa experiência profissional é seguramente uma mais-valia, não só para a nossa equipa de
              trabalho, mas também para os nossos potenciais clientes e colaboradores.
            </p>
 
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="about_section ">
    <div class="container">
      <div class="row">
       
        <div class="col-md-12">
          <div class="detail-box">
            
            <div class="heading_container">
              <h2>
                nosso objetivo.
              </h2>
            </div>
            <p>
              O nosso objetivo, enquanto empresa, é sobretudo assegurar a melhor imagem possível da
              empresa que representamos enquanto demonstramos aos nossos potenciais clientes a escolha
              acertada que representam os respetivos produtos. Consideramos imprescindíveis a formação,
            </p>
            <p>
              Para além da paixão pelo que fazemos, reconhecemos a seriedade, no desempenho das nossas
              funções, e a nossa vocação nos levam a adquirir experiência nas seguintes tarefas:
              <br>
              Apresentação pessoal, apresentação do espaço de trabalho, atendimento cordial ao cliente, com
              maior satisfação, adaptação do discurso aos interesses do cliente, apoio aos colaboradores e
              prestadores de serviços, Prontidão no reencaminhamento dos processos, fluência no discurso, o que permite
              ser clara nos procedimentos, apoio no planeamento de vendas, apoio na elaboração estratégicas
              de vendas, Excelente relação com fornecedores.
            </p>
          </div>
        </div>
 
      </div>
 
    </div>
  </section>


  <section class="service_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box">
      
            <div class="detail-box">
              <h5>
                CONTACTOS
              </h5>
              <p>
                Telefone: +(244) 931 088 915 / +(244) 994 814 701
              </p>
            
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
          
            <div class="detail-box">
              <h5>
                ENDEREÇO
              </h5>
              <p>
                Talatona, Condomínio Palanca Negra, Vivenda n°. 31. 
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box">
            
            <div class="detail-box">
              <h5>
                VALOR
              </h5>
              <p>
           
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- end about section -->

</div>